<app-menues></app-menues>
<mat-card>
        
    <mat-card-content>
        <div class = "main-div">
            <h1 >Somos Immunotec</h1>
          </div>
     <div>   
      <iframe src="https://www.youtube.com/embed/HKhkItCHWHg?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
    </div>
    <br/>
            <h3>Productos de calidad, excelentes oportunidades de negocios</h3>
            <p>
                Immunotec siempre ha demostrado ser única en su tipo. Mientras algunas compañías empiezan con un buen grupo de personas y una idea 
                de negocio en busca de un producto, Immunotec comienza como un producto que busca un buen negocio para ponerlo en las manos de 
                millones de personas que se beneficiarían con él. Más de cuarenta años de investigaciones marcan su producto principal, Immunocal, 
                y sus innovaciones únicas han dado como resultado numerosas patentes tanto en Norteamérica como en todo el mundo. Lea la historia 
                de Immunotec, una empresa de mercadeo en red distinta a las demás.
            </p>
            <p>
                Reconocida por investigadores y profesionales médicos en todo el mundo, Immunotec continúa estableciendo los estándares para los productos que generan resultados consistentes.
            </p>
            <p>
                Immunotec trabaja con un equipo de expertos en sus respectivas áreas con la finalidad de desarrollar su línea de productos 
                de alta calidad.
            </p>
            <p>
                Immunotec es una de las únicas compañías de nutrición con un producto alimenticio (no farmacológico) que se encuentra incluido en 
                publicaciones como la Physicians' Desk Reference (PDR) y en el Compendio de Especialidades y Productos Farmacéuticos (CPS).
            </p>
            <p>
                Con la incorporación de la ciencia del glutatión en su colección para el cuidado de la piel, Elasense, Immunotec ofrece con orgullo 
                productos dirigidos a los aspectos tanto intrínsecos como extrínsecos del envejecimiento y la belleza.
            </p>
            <p>
                El modelo de negocios de Immunotec canaliza los bienes al consumidor a través de una red de Consultores independientes. Reducir los 
                costos que normalmente se pagan a un "intermediario" tradicional, como una tienda, se traduce en un mayor potencial de ingresos para 
                los Consultores.
            </p>
            <p>
                ¿Qué significa esto para usted? Además de obtener mayores ingresos por introducir productos de clase mundial, así como una increíble 
                oportunidad de negocios a la gente que conoce, como su propio jefe, tendrá la facilidad orientar su negocio en la dirección que desee 
                y con sus propias condiciones.
            </p>
            <p>
                Además, Immunotec es un orgulloso miembro de la Direct Selling Association con quien nos hemos comprometido a aplicar 
                prácticas comerciales éticas y de protección al consumidor. La piedra angular de dicho compromiso reside en el Código de 
                ética de esta Asociación. En nuestra calidad de miembro activo de dicha Asociación, nos comprometemos a cumplir con las 
                normas y procedimientos del Código como condición de admisión a la misma y a fin de seguir siendo sus miembros. El Código 
                garantiza que las empresas miembro no hagan declaraciones o promesas que pudieran inducir al error tanto a los consumidores 
                como a los vendedores. El Código es aplicado por un administrador independiente que cuenta con la autoridad que todas las 
                empresas se han comprometido respetar.
            </p>
            
            <h3>Red mundial</h3>
            <p>
                Los productos de Immunotec se distribuyen en los siguientes países:
            </p>
            <ul>
              <li>
                  <b>Norteamérica:</b> Canadá, Estados Unidos.
              </li>
              <li>
                  <b>América Latina:</b> México, República Dominicana, Guatemala, Colombia.
              </li>
              <li>
                  <b>Europa:</b> Reino Unido e Irlanda.
              </li>
            </ul>
            <!-- <img style="float: right; width: 10%; height: 10%;" src="assets/ImmunotecSuccess_2.png" alt="Immunotec Success"> -->
            
            
            
        
    
    <div class="main-div">
      <h1><i>"Immunocal se conviertirá en el suplemento nutricional preferido en todo el mundo.!"</i></h1>
    </div>
    <div class="main-div">
            <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Comprar Immunocal</a></span>
            
            <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Comience su Propio Negocio - Únase a IMMUNOTEC</a></span>
    </div>
    <br/>
      <br/>
      
        <app-contactes></app-contactes>
        <div class="main-div">
                <button mat-raised-button >
                    
                    <span routerLink="/glut_es" class="mat-body-2" style="color:darkblue;">Próximo</span>
                </button>
                
            </div>
      <app-disclaimeres></app-disclaimeres>
    </mat-card-content>
  </mat-card>
    <app-footer></app-footer>  