<app-menues></app-menues>
<mat-card>
        
    <mat-card-content>
     
        <h3 >Que es el Glutatión? Por qué es crítico para su salud?</h3>
    <iframe src="https://www.youtube.com/embed/cZYtncJHyok?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
    
    <div style="padding: 3px;">  

    <br />
    <p>
      <b>El glutatión</b> es un tri-péptido, una pequeña proteína compuesta por los aminoácidos cisteína, glicina y ácido glutámico. Se produce en cada célula del cuerpo.
      <b>El glutatión realiza 6 funciones vitales importantes:</b>
    </p>
    <ul>
      <li>
        Es el <b>Master Antioxidante</b>, producido por la célula, que neutraliza los radicales libres, y recicla otros antioxidantes como las vitaminas C y E.
      </li>
      <li>
        Es <b>el desintoxicante más eficaz del cuerpo</b>, que se enlaza a toxinas indeseables, contaminantes, sustancias químicas que causan cáncer, metales pesados y metabolitos de fármacos y los excreta a través de la orina o el intestino.
      </li>
      <li>
        <b>Modula la respuesta inmune</b>  aumentando su efectividad cuando es baja y equilibrandola cuando es hiperactiva.
      </li>
      <li>
        Ayuda en la <b>Regulación de las Funciones Vitales de la Célula</b> , tales como la síntesis y la reparación del ADN, la síntesis de proteínas, y la activación y regulación de las enzimas.
      <li>
        <b>Mejora la energía, la fuerza muscular y la resistencia.</b>.
      </li>
      <li>
        De manera efectiva y comprensiva <b>ayuda a ralentizar el proceso de Eenvejecimiento.</b>.
      </li>
    </ul>
    <p>
      Sin un suministro adecuado de glutatión su sistema inmunitario no funcionará eficazmente, lo que eventualmente conduce a enfermedades
      comunes e incluso enfermedades degenerativas. La investigación muestra que los jóvenes y los ancianos en excelente salud tienen altos
      niveles de glutatión. Sin embargo, los niveles bajos de glutatión son un marcador para más de 200 condiciones
      médicas. El glutatión suministrado por nuestro propio cuerpo de  se consume rápidamente diariamente. Si usted proporciona al cuerpo los
      bloques básicos, su producción de glutatión aumentará, y su sistema inmunológico tendrá la capacidad de luchar contra los radicales
      libres y la oxidación que causan problemas con su salud.
  
    </p>
    </div>
    <div class="main-div">
        <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Comprar Immunocal</a></span>
        
        <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Comience su Propio Negocio - Únase a IMMUNOTEC</a></span>
    </div>    
      
      <br/>
      
        <app-contactes></app-contactes>
        <div class="main-div">
                <button mat-raised-button >
                    
                    <span routerLink="/imm_es" class="mat-body-2" style="color:darkblue;">Próximo</span>
                </button>
                
            </div>
      <app-disclaimeres></app-disclaimeres>
    </mat-card-content>
  </mat-card>
    <app-footer></app-footer>  