<app-menuen></app-menuen>
 
        
<mat-card >

    
    
    
    <mat-card-content>
        <div class = "main-div">
          <h1 >We are Immunotec</h1>
        </div>
                  <iframe src="https://www.youtube.com/embed/Tm18kU7EIKw?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            <br/>
            <h3>World class products and business opportunity</h3>
            <p>
            Immunotec has always been in a class of its own. While some companies start with a few good people and a business 
            idea looking for a product, Immunotec began as a product looking for a business to put it into the hands of millions 
            who could benefit from it. Over forty years of research underlie its flagship product, Immunocal, and its ground 
            breaking innovations have resulted in numerous patents in North America and around the world. Read the story of 
            Immunotec, a network marketing company unlike any other.
            </p>
            <p>
            Recognized by researchers and medical professionals worldwide, Immunotec continues to set the standards for products that 
            produce consistent results.
            </p>
            <p>
            Immunotec works with a team of experts in their respective fields in order to develop its ever-expanding line of high quality products.
            </p>
            <p>
            Immunotec is one of the only nutritional companies with a (non-drug) nutritional product listed in the Physicians' Desk Reference (PDR) 
            and the Compendium of Pharmaceuticals and Specialties (CPS).
            </p>
            <p>
            With the incorporation of glutathione science in its Elasense skin care collection and reformulated toothpaste, Immunotec now proudly 
            offers products addressing inner and outer health.
            </p>
            <p>
            Immunotec's business model channels goods to the consumer through a network of independent consultants. Avoiding costs ordinarily paid to 
            a middle man, such as a store, results in earning potential for the consultant.
            </p>
            <p>
            What does this mean for you? In addition to the income earned by introducing world class products and a powerful business opportunity 
            to people you know, as your own boss you have the power to drive your business in the direction you want, on your terms.
            </p>
            <p>
            Immunotec is a proud member of the Direct Selling Association where we are committed to ethical business practices and consumer protection. 
            The cornerstone of that commitment is the Code of Ethics. As an active DSA member company, we pledge to abide by the Code's standards 
            and procedures as a condition of admission to and continuing membership with the Association. The Code ensures that member companies 
            do not make statements or promises that might mislead consumers or salespeople. The Code is enforced by an independent administrator 
            who has authority that all companies agree to abide by.
            </p>
            
            <h3>Global network</h3>
            <p>
            Immunotec products are distributed in the following countries:
            </p>
            <ul>
              <li>
                  <b>North America:</b> Canada, United States.
              </li>
              <li>
                  <b>Latin America:</b> Mexico, Dominican Republic, Guatemala, Colombia.
              </li>
              <li>
                  <b>Europe:</b> United Kingdom, Ireland.
              </li>
            </ul>
            <!-- <img style="float: right; width: 10%; height: 10%;" src="assets/ImmunotecSuccess_2.png" alt="Immunotec Success"> -->
            
            
            
        
    
    <div class="main-div">
      <h1><i>"Immunocal will become the nutritional choice worldwide!"</i></h1>
      
    </div>
    <div class="main-div">
        <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Buy Immunocal</a></span>
        
        <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Start your own Business - Join IMMUNOTEC</a></span>
    </div>
    <app-contacten></app-contacten>                    
        
    <div class="main-div">
        <button mat-raised-button >
            
            <span routerLink="/glut_en" class="mat-body-2" style="color:darkblue;">Next</span>
        </button>
        
    </div>
    <app-disclaimeren></app-disclaimeren>
  </mat-card-content>
</mat-card>  
<app-footer></app-footer>  