
<app-menuen></app-menuen>
<mat-card>
        
  <mat-card-content>
      <div style="padding: 3px;"> 
          <h2>IMMUNOCAL<sup>TM</sup> - Nature's Way to Raise Glutathione</h2>
          <br />
          <iframe src="https://www.youtube.com/embed/N3di2a39VYU?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
          <div>
            <p>
              <img src="../../assets/GustavoBounous.jpg" style="float:left" display:center />
              After two decades of research, Dr. Gustavo Bounous, a distinguished Canadian Researcher, Surgeon and Immunologist from McGill Univ., discovered the
          mechanism for raising Glutathione naturally, and without drugs. His research animals lived 30- 50% longer, and were less vulnerable to cancer
          and other diseases when fed a special protein containing high levels of cysteine. Dr. Bounous, in collaboration with Dr. Patricia Kongshavn,
          proceeded to develop a nutraceutical called Immunocal™. Immunocal™ delivers the “building blocks” every cell requires to stimulate the production
          of glutathione.
          <br /> <br />
          Immunocal™ is safe for all ages and for pets. <br>
          Immunocal™ has been proven to sustain and significantly increase intracellular glutathione.  <br />
          Immunocal™ is listed in the <a target ="_blank" href='https://www.pdr.net/full-prescribing-information/Immunocal-cysteine-257'>U.S. Physician’s Desk Reference</a> 
          and Canadian CPS. <br />
          Immunocal™ is very similar in composition to mother's milk, with high amounts of Alpha Lactalbumin, Lactoferrin, and Serum Albumin. <br />
          Immunocal™ can provide the Immune-enhancing benefits of mother’s milk to the entire population! <br />
          Immunocal™ has the highest Biological Value of any protein >159, as well as a complete amino acid profile.<br />
            </p>
          </div>
      </div>
      <div class="main-div">
          <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Buy Immunocal</a></span>
          
          <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Start your own Business - Join IMMUNOTEC</a></span>
      </div>
      <app-contacten></app-contacten>
      <div class="main-div">
          <button mat-raised-button >
              
              <span routerLink="/pat_en" class="mat-body-2" style="color:darkblue;">Next</span>
          </button>
          
      </div>
      <app-disclaimeren></app-disclaimeren>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>  

