<app-menues></app-menues>
 
        
<mat-card >

    
    
    
    <mat-card-content>
     
      <div class="main-div"><h2 >Immunocal, y sus innovaciones únicas han dado como resultado numerosas Patentes.</h2></div>
      <h3>Canada</h3>
          
            <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://brevets-patents.ic.gc.ca/opic-cipo/cpd/eng/patent/1333471/summary.html'>1333471</a></span>
            <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://brevets-patents.ic.gc.ca/opic-cipo/cpd/eng/patent/1338682/summary.html'>1338682</a></span>
            <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://brevets-patents.ic.gc.ca/opic-cipo/cpd/eng/patent/2142277/summary.html'>2142277</a></span>
            <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://brevets-patents.ic.gc.ca/opic-cipo/cpd/eng/patent/2090186/summary.html'>2090186</a></span>
            
          
      
        
     
        
        
        
        
      
            <h3>US</h3>
        

        
          <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5290571.PN.&OS=PN/5290571&RS=PN/5290571'>5290571</a></span>
        
         <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5451412.PN.&OS=PN/5451412&RS=PN/5451412'>5451412</a></span>
        
        <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5230902.PN.&OS=PN/5230902&RS=PN/5230902'>5230902</a></span>
        
         <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5456924.PN.&OS=PN/5456924&RS=PN/5456924'>5456924</a></span>
        
        <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5888552.PN.&OS=PN/5888552&RS=PN/5888552'>5888552</a></span>        
         <span class="mat-body-2" style="color:darkblue; padding-left: 20px;"><a target ="_blank" href='http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=/netahtml/PTO/srchnum.htm&r=1&f=G&l=50&s1=5846939.PN.&OS=PN/5846939&RS=PN/5846939'>5846939</a></span>
            
      <br/>          
                  
          <p > <span><h3>Patentes Internacionales:</h3> Immunocal tiene numerosas patentes en Norteamérica y el resto del mundo.</span></p>
    <div class="main-div">
        <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Comprar Immunocal</a></span>
        
        <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Comience su Propio Negocio - Únase a IMMUNOTEC</a></span>
    </div>    
      
      <br/>
      
        <app-contactes></app-contactes>
        <div class="main-div">
                <button mat-raised-button >
                    
                    <span routerLink="/test_es" class="mat-body-2" style="color:darkblue;">Próximo</span>
                </button>
                
            </div>
<app-disclaimeres></app-disclaimeres>
</mat-card-content>
</mat-card>  
<app-footer></app-footer>  

