<app-menuen></app-menuen>
 
        
<mat-card >

    
    
    
    <mat-card-content>
     
        <h3 >What is Glutathione? Why is it critical to your health?</h3>
    <iframe src="https://www.youtube.com/embed/0ecuBGUGjdY?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
    
    <div style="padding: 3px;">  
    <p>
  <b>Glutathione</b> is a tri-peptide, a small protein composed of the amino acids cysteine, glycine and glutamate. It is made in every cell of the body.
  <b>Glutathione performs 6 vitally important functions:</b>
</p>
<ul>
  <li>
    It is a <b>Major Antioxidant</b>, produced by the cell, which neutralizes free radicals, and recycles other antioxidants such as vitamins C and E.
  </li>
  <li>
    It is the body's <b>Most Effective Detoxifier</b>, binding to undesirable toxins, pollutants, cancer-causing chemicals, heavy metals, and drug metabolites and excreting them through the urine or the gut.
  </li>
  <li>
    It <b>Modulates the Immune Response</b> by increasing its effectiveness when it is low and bringing it back into balance when it is overactive.
  </li>
  <li>
    It assists in the <b>Regulation of the Cell's Vital Functions</b>, such as the synthesis and repair of DNA, the synthesis of proteins, and the activation and regulation of enzymes.
  </li>
  <li>
    It <b>enhances energy, muscular strength and endurance</b>.
  </li>
  <li>
    It effectively and comprehensively <b>helps to slow the Aging process</b>.
  </li>
</ul>
<p>
  Without an adequate supply of glutathione your immune system will not function effectively, which eventually leads to common
  illnesses and even degenerative diseases.
  Research shows that the young and the elderly in excellent health have high levels of glutathione. However
  low levels of glutathione are a marker for over 200 medical conditions.

  The body’s own supply of Glutathione is rapidly consumed on a daily basis.

  If you provide the body with the right building blocks, your production of glutathione will increase, and your Immune System will have
  the ability to fight off free radicals and oxidation that cause problems with your health.
</p>
</div>
<div class="main-div">
    <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Buy Immunocal</a></span>
    
    <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Start your own Business - Join IMMUNOTEC</a></span>
</div>
<br/>
<app-contacten></app-contacten>
<div class="main-div">
    <button mat-raised-button >
        
        <span routerLink="/imm_en" class="mat-body-2" style="color:darkblue;">Next</span>
    </button>
    
</div>
<app-disclaimeren></app-disclaimeren>
</mat-card-content>
</mat-card>  
<app-footer></app-footer>  