<br/>
<h3>Disclaimer:</h3>
    <p style="color:darkolivegreen">IMMUNOCAL® is a specially formulated undenatured whey protein isolate. 
      It holds several patents in the USA and worldwide and is listed by the FDA in the category of GRAS 
      (generally recognized as safe). IMMUNOCAL® is a natural food supplement and as such is limited from 
      stating medical claims per se. Statements have not been evaluated by the FDA. As such, this product 
      is thus not intended to diagnose, cure, prevent or treat any disease.</p>
