
<app-menuen></app-menuen>
<mat-card>
        
  <mat-card-content>
      <div class="main-div">
          <h2>IMMUNOTEC - Compensation Plan</h2>
      </div>
          
          <br />
          <i> Immunocal™ is the most important dietary supplement you will ever use. Immunocal™ will become the nutritional choice worldwide. Once you consume it, you could recommend it to family and friends.
              Immunotec could pay you important commissions and bonuses that would help you to cover the expenses incurred in your purchase. 
              You could get a 30% discount on all your purchases and an extra income that could impact your financial life, and this just for sharing your experience.</i>
          
          <div class="main-div">
              <iframe src="https://www.youtube.com/embed/_ig1qpq57BM?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
          </div>
      
      <div class="main-div">
          <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Buy Immunocal</a></span>
          
          <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Start your Business - Join IMMUNOTEC</a></span>
      </div>
      <app-contacten></app-contacten>
      <br/>
      <div class="main-div">
            <button mat-raised-button >
                
                <span routerLink="/homeen" class="mat-body-2" style="color:darkblue;">Home</span>
            </button>
            
        </div>
      <app-disclaimeren></app-disclaimeren>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>  



