<br/>
        <h3>Aviso legal:</h3>
    <p style="color:darkolivegreen">IMMUNOCAL® es un aislado de proteína de suero de leche no desnaturalizada especialmente formulado. 
      Tiene varias patentes en los EE.UU. y en todo el mundo y está catalogado por la FDA en la categoría de GRAS 
      (generalmente reconocido como seguro). IMMUNOCAL® es un suplemento alimenticio natural y, como tal, 
      se limita a declarar reclamaciones médicas. Las declaraciones en este sitio no han sido evaluadas por la FDA. 
      Por lo tanto, este producto no está destinado a diagnosticar, curar, prevenir o tratar ninguna enfermedad.</p>
