
<app-menuen></app-menuen>
<mat-card>
        
  <mat-card-content>
      <div class="main-div">
          <h2>IMMUNOCAL - MEDICAL TESTIMONIALS</h2>
      </div>
      <div class="main-div">
            <i> The following videos show how Immunocal could fight, prevent or eradicate health problems. Please, see our disclaimer 
                    at the end of the page.</i>
        </div>
          <br />
          <div class="main-div"><h2>CERVICAL AND BREAST CANCER</h2></div>
          
          <div class="main-div">
              <iframe src="https://www.youtube.com/embed/C1C3EwJ-7jU?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
          </div>
          <div class="main-div"><h2>BREAST CANCER</h2></div>
          
          <div class="main-div">
            <iframe src="https://www.youtube.com/embed/O0MY0RNqGDs?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
        </div>
        <div class="main-div"><h2>ALZHEIMERS & PARKINSONS</h2></div>
        
        <div class="main-div">
                <iframe src="https://www.youtube.com/embed/uzjvfHRzeCg?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            </div>
            <div class="main-div"><h2>DOG WITH LUNG CANCER</h2></div>
        <div class="main-div">
                <iframe src="https://www.youtube.com/embed/aOJ4Puy_aB4?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            </div>
            <div class="main-div"><h2>LEUKIMIA</h2></div>
        <div class="main-div">
                <iframe src="https://www.youtube.com/embed/iShooeNRFhA?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            </div>
            <div class="main-div"><h2>FIBROMYALGIA</h2></div>
            
        <div class="main-div">
                <iframe src="https://www.youtube.com/embed/SqeWtCVbx5U?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            </div>
            <div class="main-div"><h2>MACULAR DEGENERATION</h2></div>
            
        <div class="main-div">
                <iframe src="https://www.youtube.com/embed/xoaTh6S2Qr0?rel=0" name="myFrame" width="420" height="255" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="float:right;"></iframe>
            </div>
            <br/>
            <div class="main-div"><h3>Please, find Immunocal Testimonials in YouTube: Search for: Immunocal testimonials + Disease.</h3></div>
            

            <br/>
      
      <div class="main-div">
          <span class="mat-body-2" style="color:darkblue;"><a target ="_blank" href='https://www.immunotec.com/w3/products'>Buy Immunocal</a></span>
          
          <span class="mat-body-2" style="color:darkblue; padding-left: 50px;"><a target ="_blank" href='https://www.immunotec.com/w3/enrollment'>Start your own Business - Join IMMUNOTEC</a></span>
      </div>
      <app-contacten></app-contacten>
      <app-disclaimeren></app-disclaimeren>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>  



